[Desktop Entry]
Type=Application
Version=1.0
Name=MiniOS Module Manager
Name[ru]=Менеджер модулей MiniOS
Name[pt_BR]=Gerenciador de Módulos MiniOS
Name[pt]=Gerenciador de Módulos MiniOS
Name[it]=Gestore moduli MiniOS
Name[id]=Manajer Modul MiniOS
Name[fr]=Gestionnaire de modules MiniOS
Name[es]=Administrador de módulos de MiniOS
Name[de]=MiniOS Modul-Manager
Comment=Inspect, create and manage MiniOS modules
Comment[ru]=Просматривайте, создавайте и управляйте модулями MiniOS
Comment[pt_BR]=Inspecione, crie e gerencie módulos MiniOS
Comment[pt]=Inspecione, crie e gerencie módulos do MiniOS
Comment[it]=Ispeziona, crea e gestisci i moduli MiniOS
Comment[id]=Inspeksi, buat, dan kelola modul MiniOS
Comment[fr]=Consultez, créez et gérez les modules MiniOS
Comment[es]=Inspecciona, crea y gestiona módulos de MiniOS
Comment[de]=MiniOS-Module inspizieren, erstellen und verwalten
Keywords=module;sb;squashfs;bundle;
Keywords[ru]=модуль;sb;squashfs;bundle;
Keywords[pt_BR]=módulo;sb;squashfs;pacote;
Keywords[pt]=módulo;sb;squashfs;pacote;
Keywords[it]=modulo;sb;squashfs;bundle;
Keywords[id]=modul;sb;squashfs;bundle;
Keywords[fr]=module;sb;squashfs;bundle;
Keywords[es]=módulo;sb;squashfs;paquete;
Keywords[de]=Modul;sb;squashfs;Bundle;
Exec=minios-module-manager %f
TryExec=minios-module-manager
Icon=office-database
Terminal=false
Categories=System;
MimeType=application/x-minios-module;
StartupNotify=true
