__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
*.mo
/.pc/
/obj-*/
/*.deb
/*.udeb
/*.build
/*.buildinfo
/*.changes
/*.dsc
/*.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.log
debian/minios-module-manager/
debian/tmp/
