__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
*.mo
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/minios-module-manager/
